<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles_resultados.css')}}">
    <title>Resultados</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Resultados</a></li>
            </ul>
        </nav>
    </header>
   
   
   
   
   
   
   
    <footer>
        <p>&copy; 2024 Buscador de Imagenes. Todos los derechos reservados.</p>
    </footer>
</body>
</html>