<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles_resultados.css')}}">
    <title>Resultados</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Resultados</a></li>
            </ul>
        </nav>
    </header>

   <div class="tituloResultados">
     <label>Resultados Recuperados</label>
     <div id="botonResultados">
        <button id="viewBoton" >Buscar nueva imagen</button>
     </div>
   </div>

    <div class="resultados">
        {% for image in images %}
        <div class="tarjetas">
            <img class="imagenesResultados" src="{{ url_for('static', filename='img/' + image) }}" alt="{{ image }}" width="200px" height="200px">
            <p>{{ image }}</p>
            <p>{{ image }}</p>
        </div>
        <br>
        {% endfor %}
    </div>

    <div class="resultados">
            <div class="resultado">
                <h3></h3>
                <p></p> 
            </div>
    </div>
   
   
   
   
   
   
    <footer>
        <p>&copy; 2024 Buscador de Imagenes. Todos los derechos reservados.</p>
    </footer>
</body>
</html>